openflow/process/default/aviation-api.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1754992429792,
    "description" : "This integrates Snowflake with an Aviation API using Snowpipe Streaming",
    "identifier" : "aviation-api",
    "lastModifiedTimestamp" : 1754992429792,
    "name" : "aviation-api",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1c18d355-170c-3d6d-8029-681f79a74904",
        "name" : "getFlightsAPI",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "07d5f1eb-f60d-36a9-a7ca-a84e6f673a13",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "fab7860f-0cb2-36b1-8dc6-f97cc05a020d",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1b668551-5a92-3806-8c88-e31170b02beb",
        "name" : "JoltTransformRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "49bf2060-e85a-3afb-aee2-a9273c8bbc97",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Response" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1c18d355-170c-3d6d-8029-681f79a74904",
        "name" : "getFlightsAPI",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bb005e6f-cf81-3d78-9e3a-c1e368c620bc",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5fc05f5d-5217-312e-bebc-15de210dcc53",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1b668551-5a92-3806-8c88-e31170b02beb",
        "name" : "JoltTransformRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 6
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bcb163f0-4efe-364c-b530-bcd9d0b83790",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a2039203-934a-303b-a0bc-861660a7d8e5",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "Failure", "No Retry", "Retry" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1c18d355-170c-3d6d-8029-681f79a74904",
        "name" : "getFlightsAPI",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "9a0cd7ce-3de0-345c-bd9e-d5bfdc411daf",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ab84d786-98f1-3325-91da-5d556ef594a1",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bb005e6f-cf81-3d78-9e3a-c1e368c620bc",
        "name" : "PutSnowpipeStreaming",
        "type" : "PROCESSOR"
      },
      "zIndex" : 7
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.8.7.20"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1e8d60c0-1efc-3e54-8b57-a40b41157d60",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.8.7.20"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "83ec815f-5e8d-3ca5-8d53-d74f21cebd8f",
      "name" : "JsonTreeReader-B",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.8.7.20"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bdcb042f-dfc4-38ff-bb1e-dd4b191b17bb",
      "name" : "JsonTreeReader-A",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "NESTED_FIELD",
        "starting-field-name" : "data",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-key-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.8.7.20"
        },
        "type" : "org.apache.nifi.key.service.api.PrivateKeyService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e9bbe6e7-2a2e-3301-9572-96126b1b8402",
      "name" : "StandardPrivateKeyService",
      "properties" : { },
      "propertyDescriptors" : {
        "key-password" : {
          "displayName" : "Key Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key-password",
          "sensitive" : true
        },
        "key-file" : {
          "displayName" : "Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key-file",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "key" : {
          "displayName" : "Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "key",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.key.service.StandardPrivateKeyService"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bcb163f0-4efe-364c-b530-bcd9d0b83790",
      "position" : {
        "x" : -1296.0,
        "y" : -112.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Aviation",
    "outputPorts" : [ ],
    "parameterContextName" : "api-snowflake-context",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure", "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-jolt-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1b668551-5a92-3806-8c88-e31170b02beb",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JoltTransformRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1416.0,
        "y" : 152.0
      },
      "properties" : {
        "jolt-record-record-writer" : "1e8d60c0-1efc-3e54-8b57-a40b41157d60",
        "Jolt Transform" : "jolt-transform-shift",
        "Transform Cache Size" : "1",
        "Jolt Specification" : "{ \"@\": \"V\" }",
        "jolt-record-record-reader" : "bdcb042f-dfc4-38ff-bb1e-dd4b191b17bb"
      },
      "propertyDescriptors" : {
        "jolt-record-record-writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "jolt-record-record-writer",
          "sensitive" : false
        },
        "Jolt Transform" : {
          "displayName" : "Jolt Transform",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Transform",
          "sensitive" : false
        },
        "Transform Cache Size" : {
          "displayName" : "Transform Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transform Cache Size",
          "sensitive" : false
        },
        "Custom Transformation Class Name" : {
          "displayName" : "Custom Transformation Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Transformation Class Name",
          "sensitive" : false
        },
        "Custom Module Directory" : {
          "displayName" : "Custom Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        },
        "Jolt Specification" : {
          "displayName" : "Jolt Specification",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Jolt Specification",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE", "TEXT" ]
          },
          "sensitive" : false
        },
        "jolt-record-record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "jolt-record-record-reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.jolt.JoltTransformRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "Original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1c18d355-170c-3d6d-8029-681f79a74904",
      "maxBackoffPeriod" : "10 mins",
      "name" : "getFlightsAPI",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -944.0,
        "y" : -152.0
      },
      "properties" : {
        "Request Content-Encoding" : "DISABLED",
        "Request Multipart Form-Data Filename Enabled" : "true",
        "Request Chunked Transfer-Encoding Enabled" : "false",
        "HTTP/2 Disabled" : "False",
        "Connection Timeout" : "5 secs",
        "Response Cookie Strategy" : "DISABLED",
        "Socket Read Timeout" : "15 secs",
        "Socket Idle Connections" : "5",
        "Request Body Enabled" : "true",
        "OAuth2 Access Token Refresh Strategy" : "ON_TOKEN_EXPIRATION",
        "HTTP URL" : "http://api.aviationstack.com/v1/flights?access_key=#{token}&flight_status=${flight_status}&limit=${limit}",
        "Socket Idle Timeout" : "5 mins",
        "Response Redirects Enabled" : "True",
        "Socket Write Timeout" : "15 secs",
        "Response FlowFile Naming Strategy" : "RANDOM",
        "Response Cache Enabled" : "false",
        "Request Date Header Enabled" : "True",
        "Request Failure Penalization Enabled" : "false",
        "Response Body Attribute Size" : "256",
        "Response Generation Required" : "false",
        "Response Header Request Attributes Enabled" : "false",
        "HTTP Method" : "GET",
        "Request Content-Type" : "${mime.type}",
        "Request Digest Authentication Enabled" : "false",
        "Response Cache Size" : "10MB",
        "Response Body Ignored" : "false"
      },
      "propertyDescriptors" : {
        "Request Content-Encoding" : {
          "displayName" : "Request Content-Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Encoding",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Request Multipart Form-Data Filename Enabled" : {
          "displayName" : "Request Multipart Form-Data Filename Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Filename Enabled",
          "sensitive" : false
        },
        "Request Chunked Transfer-Encoding Enabled" : {
          "displayName" : "Request Chunked Transfer-Encoding Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Chunked Transfer-Encoding Enabled",
          "sensitive" : false
        },
        "Response Header Request Attributes Prefix" : {
          "displayName" : "Response Header Request Attributes Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Prefix",
          "sensitive" : false
        },
        "HTTP/2 Disabled" : {
          "displayName" : "HTTP/2 Disabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP/2 Disabled",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Response Cookie Strategy" : {
          "displayName" : "Response Cookie Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cookie Strategy",
          "sensitive" : false
        },
        "Request Password" : {
          "displayName" : "Request Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Password",
          "sensitive" : true
        },
        "Socket Read Timeout" : {
          "displayName" : "Socket Read Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Read Timeout",
          "sensitive" : false
        },
        "Socket Idle Connections" : {
          "displayName" : "Socket Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Connections",
          "sensitive" : false
        },
        "Request Body Enabled" : {
          "displayName" : "Request Body Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Body Enabled",
          "sensitive" : false
        },
        "OAuth2 Access Token Refresh Strategy" : {
          "displayName" : "OAuth2 Access Token Refresh Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "OAuth2 Access Token Refresh Strategy",
          "sensitive" : false
        },
        "HTTP URL" : {
          "displayName" : "HTTP URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP URL",
          "sensitive" : false
        },
        "Request OAuth2 Access Token Provider" : {
          "displayName" : "Request OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Request OAuth2 Access Token Provider",
          "sensitive" : false
        },
        "Socket Idle Timeout" : {
          "displayName" : "Socket Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Idle Timeout",
          "sensitive" : false
        },
        "Response Redirects Enabled" : {
          "displayName" : "Response Redirects Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Redirects Enabled",
          "sensitive" : false
        },
        "Socket Write Timeout" : {
          "displayName" : "Socket Write Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Socket Write Timeout",
          "sensitive" : false
        },
        "Request Header Attributes Pattern" : {
          "displayName" : "Request Header Attributes Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Header Attributes Pattern",
          "sensitive" : false
        },
        "Response FlowFile Naming Strategy" : {
          "displayName" : "Response FlowFile Naming Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response FlowFile Naming Strategy",
          "sensitive" : false
        },
        "Response Cache Enabled" : {
          "displayName" : "Response Cache Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Enabled",
          "sensitive" : false
        },
        "Request Date Header Enabled" : {
          "displayName" : "Request Date Header Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Date Header Enabled",
          "sensitive" : false
        },
        "Request Failure Penalization Enabled" : {
          "displayName" : "Request Failure Penalization Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Failure Penalization Enabled",
          "sensitive" : false
        },
        "Response Body Attribute Size" : {
          "displayName" : "Response Body Attribute Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Size",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Response Generation Required" : {
          "displayName" : "Response Generation Required",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Generation Required",
          "sensitive" : false
        },
        "Request User-Agent" : {
          "displayName" : "Request User-Agent",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request User-Agent",
          "sensitive" : false
        },
        "Response Header Request Attributes Enabled" : {
          "displayName" : "Response Header Request Attributes Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Header Request Attributes Enabled",
          "sensitive" : false
        },
        "HTTP Method" : {
          "displayName" : "HTTP Method",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "HTTP Method",
          "sensitive" : false
        },
        "Request Username" : {
          "displayName" : "Request Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Username",
          "sensitive" : false
        },
        "Request Content-Type" : {
          "displayName" : "Request Content-Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Content-Type",
          "sensitive" : false
        },
        "Response Body Attribute Name" : {
          "displayName" : "Response Body Attribute Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Attribute Name",
          "sensitive" : false
        },
        "Request Digest Authentication Enabled" : {
          "displayName" : "Request Digest Authentication Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Digest Authentication Enabled",
          "sensitive" : false
        },
        "Request Multipart Form-Data Name" : {
          "displayName" : "Request Multipart Form-Data Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Request Multipart Form-Data Name",
          "sensitive" : false
        },
        "Response Cache Size" : {
          "displayName" : "Response Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Cache Size",
          "sensitive" : false
        },
        "Response Body Ignored" : {
          "displayName" : "Response Body Ignored",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Response Body Ignored",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9a0cd7ce-3de0-345c-bd9e-d5bfdc411daf",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -568.0,
        "y" : 440.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowpipe-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bb005e6f-cf81-3d78-9e3a-c1e368c620bc",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutSnowpipeStreaming",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -752.0,
        "y" : 152.0
      },
      "properties" : {
        "Account" : "#{account}",
        "User" : "#{user}",
        "Table" : "FLIGHT_STATUS",
        "Max Batch Size" : "10000",
        "Schema" : "PUBLIC",
        "Max Tasks Per Group" : "1",
        "Record Reader" : "83ec815f-5e8d-3ca5-8d53-d74f21cebd8f",
        "Iceberg Enabled" : "false",
        "Private Key Service" : "#{private_key}",
        "Connection Strategy" : "STANDARD",
        "Role" : "#{role}",
        "Snowpipe Channel Prefix" : "${hostname(false)}",
        "Client Lag" : "1 sec",
        "Authentication Strategy" : "KEY_PAIR",
        "Delivery Guarantee" : "At least once",
        "Database" : "OPENFLOW"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Table" : {
          "displayName" : "Table",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table",
          "sensitive" : false
        },
        "Concurrency Group" : {
          "displayName" : "Concurrency Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Concurrency Group",
          "sensitive" : false
        },
        "Max Batch Size" : {
          "displayName" : "Max Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Batch Size",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Max Tasks Per Group" : {
          "displayName" : "Max Tasks Per Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Tasks Per Group",
          "sensitive" : false
        },
        "Record Offset" : {
          "displayName" : "Record Offset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Iceberg Enabled" : {
          "displayName" : "Iceberg Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Iceberg Enabled",
          "sensitive" : false
        },
        "Snowpipe Channel Index" : {
          "displayName" : "Snowpipe Channel Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Index",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Record Offset Strategy" : {
          "displayName" : "Record Offset Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Strategy",
          "sensitive" : false
        },
        "Snowpipe Channel Prefix" : {
          "displayName" : "Snowpipe Channel Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Snowpipe Channel Prefix",
          "sensitive" : false
        },
        "Client Lag" : {
          "displayName" : "Client Lag",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client Lag",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Delivery Guarantee" : {
          "displayName" : "Delivery Guarantee",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delivery Guarantee",
          "sensitive" : false
        },
        "Record Offset Record Path" : {
          "displayName" : "Record Offset Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Offset Record Path",
          "sensitive" : false
        },
        "Database" : {
          "displayName" : "Database",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.8.7.20"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fab7860f-0cb2-36b1-8dc6-f97cc05a020d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1496.0,
        "y" : -400.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "flight_status" : "active",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "limit" : "100",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "flight_status" : {
          "displayName" : "flight_status",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "flight_status",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "limit" : {
          "displayName" : "limit",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "limit",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "10 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "api-snowflake-context" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "api-snowflake-context",
      "parameters" : [ {
        "description" : "Snowflake account name",
        "name" : "account",
        "provided" : false,
        "sensitive" : false,
        "value" : "SFSEEUROPE-EPLATAUSWEST"
      }, {
        "description" : "Reference to the controller PrivateKey",
        "name" : "private_key",
        "provided" : false,
        "sensitive" : false,
        "value" : "e9bbe6e7-2a2e-3301-9572-96126b1b8402"
      }, {
        "description" : "Snowflake role",
        "name" : "role",
        "provided" : false,
        "sensitive" : false,
        "value" : "SYSADMIN"
      }, {
        "description" : "This is the toke for the Aviation API",
        "name" : "token",
        "provided" : false,
        "sensitive" : false,
        "value" : "8278a961fdff36b5958006bdef93c353"
      }, {
        "description" : "snowflake user",
        "name" : "user",
        "provided" : false,
        "sensitive" : false,
        "value" : "OPENFLOWUSERKEYPAIR"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "OPENFLOWUSER",
    "flowIdentifier" : "aviation-api",
    "timestamp" : 1754992430534
  }
}